#app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem;
  background: linear-gradient(rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }

#product_form {
  max-width: 50rem; }

.main-container {
  display: flex;
  margin: 4rem; }

.card {
  background: #f7f7f8;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.1s linear;
  margin-bottom: 1rem;
  margin-left: 1rem;
  max-height: 17rem; }
  .card-title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem; }
  .card-bottom {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem; }
  .card-sku {
    background-color: #000;
    margin-bottom: 16px !important; }
  .card-type {
    background-color: #ff7730; }
  .card-items {
    display: flex;
    justify-content: space-around; }

.btn-submit {
  width: 10%; }

.form-btns {
  justify-content: center;
  gap: 2rem; }

.hidden {
  display: none;
  visibility: none; }

label {
  width: 100%;
  text-align: center; }

.alert-danger {
  margin-top: 1rem;
  text-align: center; }

.btn-submit {
  background-color: #2998ff;
  color: white;
  transition: all 0.2s linear; }
  .btn-submit:active {
    color: white;
    transform: scale(95%); }
  .btn-submit:hover {
    color: white; }
