#brand {
  color: #fff; }

.navbar {
  padding: 1rem 0;
  background-color: #28b485 !important; }
  .navbar__btn-primary {
    background-color: #ffb900;
    color: #fff;
    transition: all 0.2s linear;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
    .navbar__btn-primary:hover {
      color: #fff;
      transform: scale(95%); }
  .navbar__btn-secondary {
    background-color: #2998ff;
    color: #fff;
    transition: all 0.2s linear;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
    .navbar__btn-secondary:hover {
      color: #fff;
      transform: scale(95%); }

.checkbox {
  --border-default: #bbbbc1;
  --border-hover: #9898a3;
  --active: #6E7BF2;
  --active-tick: #ffffff;
  display: block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: relative;
  -webkit-tap-highlight-color: transparent; }
  .checkbox svg {
    display: block;
    position: absolute; }
  .checkbox input {
    display: block;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 36% / 36%;
    box-shadow: inset 0 0 0 1.5px var(--border, var(--border-default));
    background: var(--background, transparent);
    transition: background .25s linear, box-shadow .25s linear; }
    .checkbox input + svg {
      width: 21px;
      height: 18px;
      left: 0;
      top: 0;
      color: var(--active); }
      .checkbox input + svg .tick {
        stroke-dasharray: 20;
        stroke-dashoffset: var(--stroke-dashoffset, 20);
        transition: stroke-dashoffset .2s; }
        .checkbox input + svg .tick.mask {
          stroke: var(--active-tick); }
      .checkbox input + svg + svg {
        width: 11px;
        height: 11px;
        fill: none;
        stroke: var(--active);
        stroke-width: 1.25;
        stroke-linecap: round;
        top: -6px;
        right: -10px;
        stroke-dasharray: 4.5px;
        stroke-dashoffset: 13.5px;
        pointer-events: none;
        animation: var(--animation, none) 0.2s ease 0.175s; }
    .checkbox input:checked {
      --background: var(--active);
      --border: var(--active); }
      .checkbox input:checked + svg {
        --stroke-dashoffset: 0; }
        .checkbox input:checked + svg + svg {
          --animation: check; }
  .checkbox:hover input:not(:checked) {
    --border: var(--border-hover); }
